/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
# RubyMine
/.idea/
# RuboCop config cache file
.rubocop-https---raw-githubusercontent-com-voxable-labs-ruby-style-guide-master--rubocop-yml
# Dummy App
spec/support/dummy/db/*.sqlite3
spec/support/dummy/db/*.sqlite3-journal
spec/support/dummy/db/log/*.log
spec/support/dummy/log/
spec/support/dummy/tmp/
spec/support/dummy/.sass-cache
